@media (max-width: 767.98px) {
    .container {
        max-width: none;
    }
    .header {
        &__logo {
            font-size: 24px;
        }
        &__menu {
            display: none;
        }
    }
    .authorization {
        &__item {
            padding: 13px 10px;
            &--bag {
                padding: 13px 30px 13px 25px;
            }
        }
        &__orange {
            display: none;
        }
        &__icon-bag {
            width: 14px;
        }
        .burger {
            display: flex;
        }
    }
}
@media (max-width: 575.98px) {
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}
