@media (max-width: 767.98px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 575.98px) {
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}
