@font-face {
  font-family: "Myriad";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/myriad-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Myriad";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/myriad-regular.woff") format("woff");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333333;
  background-color: #eeeeee;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.25;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.overflow-h {
  overflow: hidden;
}

.container {
  max-width: 984px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #f7f7f7;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-right: 5px;
}
.header__logo {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  color: #000;
}
.header__logo--color-orange {
  color: #df1f26;
}

.authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.authorization__item {
  padding: 26px 20px;
  background-color: #eeeeee;
  border: 1px solid #e4e2e2;
  margin-right: 1px;
  font-size: 14px;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.authorization__item--bag {
  position: relative;
  padding: 26px 60px 26px 26px;
  color: #df1f26;
}
.authorization__item:hover {
  background-color: #e1e1e1;
}
.authorization__bag-count {
  font-size: 12px;
  color: #231f20;
}
.authorization__icon-bag {
  position: absolute;
  top: 50%;
  right: 20%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.authorization .burger {
  display: none;
  padding: 0 0 0 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 15px;
  cursor: pointer;
}
.authorization .burger__line {
  width: 100%;
  height: 2px;
  background-color: #000;
}
.authorization .burger__line--white {
  background-color: #fff;
}

.menu {
  background-color: #000;
  padding: 18px 0;
}
.menu__list {
  max-width: 768px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Myriad", sans-serif;
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
  .header__logo {
    font-size: 24px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu--active {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .header .menu {
    padding: 60px 5px 20px 5px;
    overflow: auto;
  }
  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    text-align: center;
  }
  .header .menu__link {
    font-size: 20px;
  }
  .header .menu__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .authorization {
    position: relative;
  }
  .authorization__item {
    padding: 13px 10px;
  }
  .authorization__item--bag {
    padding: 13px 30px 13px 25px;
  }
  .authorization__orange {
    display: none;
  }
  .authorization__icon-bag {
    width: 14px;
  }
  .authorization .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 50px;
    left: 100px;
    z-index: 10;
  }
  .authorization .burger--close :nth-child(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
        -ms-transform: translateY(5px) rotate(45deg);
            transform: translateY(5px) rotate(45deg);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .authorization .burger--close :nth-child(2) {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .authorization .burger--close :nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0 5px;
  }
}
@media (max-width: 420px) {
  .container {
    margin: auto;
    padding: 0;
  }
  .header__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
    font-size: 30px;
  }
  .authorization .burger {
    top: -15px;
    left: 175px;
  }
}/*# sourceMappingURL=style.css.map */